/* Main background #ffffff */
/* Background footer and main section #2E2F42 */
/* Footer text color #F4F4FD */
/* Main text color #434455 */
/* Title color #2E2F42 */
/* background button #4D5AE5 */

:root {
  --main-bg: #ffffff;
  --durk-bg: #2e2f42;
  --main-text-color: #434455;
  --title-color: #2e2f42;
  --accent-color: #4d5ae5;
  --light-bg: #f4f4fd;
  --pressed-state: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  background-color: var(--main-bg);
}

/* Header */

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  text-decoration: none;
}

.logo > .logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.address-nav {
  font-style: normal;
}

.header-link {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--pressed-state);
}

.contacts {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.contacts:is(:hover, :focus) {
  color: var(--pressed-state);
}

/* Main */

.hero {
  background-color: var(--durk-bg);
}

.hero-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-bg);
  background: var(--accent-color);
  cursor: pointer;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--main-bg);
  text-align: center;
}

.skill-title {
  display: none;
}

.skill-title-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.job-description-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
  text-align: center;
}

.team-section {
  background: var(--light-bg);
}

.team-item {
  background-color: var(--main-bg);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
  text-align: center;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--title-color);
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

/* Portfolio */

.filter-btn {
  display: none;
}

.filter-btn-item {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background: var(--light-bg);
  cursor: pointer;
}

.filter-btn-item:is(:hover, :focus) {
  color: var(--main-bg);
  background: var(--pressed-state);
}

.projects-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.projects-text {
  color: var(--main-text-color);
}

/* Footer */

.footer {
  background-color: var(--durk-bg);
}

.footer-text {
  color: var(--light-bg);
}

.footer-logo-studio {
  color: var(--light-bg);
}
